<div>
  <section>
    <h1>Create account</h1>

    <form>
      <label>Société</label><input type="text"/><br/>
      <label>Contact name</label><input type="text"/><br/>
      <label>Contact email</label><input type="text"/><br/>
      <label>Address</label><input type="text"/><br/>
      <label>Zipcode</label><input type="text"/><br/>
      <label>Town</label><input type="text"/><br/>
      <label>N° Siren</label><input type="text"/><br/>
      <label>N° TVA</label><input type="text"/><br/>
      <input type="submit" value="Create" />
    </form>
  </section>
  <section>
    <h1>Banks</h1>

    <h2>Transactions</h2>

    <ul>
      <li>
        <span>Name</span>
        <span>Method</span>
        <span>Date</span>
        <span>Amount</span>
        <span>Justified</span>
      </li>
      <li>
        <span>Orange</span>
        <span>Prelevement</span>
        <span>28 nov. 2019</span>
        <span>-45,00 EUR</span>
        <span>Yes</span>
      </li>
      <li>
        <span>SFR</span>
        <span>Prelevement</span>
        <span>28 nov. 2019</span>
        <span>-65,00 EUR</span>
        <span>No</span>
      </li>
      <li>
        <span>Kruger</span>
        <span>Virement</span>
        <span>15 dec. 2019</span>
        <span>+155,00 EUR</span>
        <span>-</span>
      </li>
    </ul>

    <h2>Supporting documents</h2>

    <h3>Create supporting documents</h3>

    <form>
      <label>Drop file here</label><input type="file"/><br/>
      <label>Label</label><input type="text" value="Publication annonce legale"/><br/>
      <label>Amount</label><input type="number" value="17.88"/><br/>
      <label>Date</label><input type="date" value="17/11/2019"/><br/>
      <input type="submit" value="Create" /><br/>
    </form>

    <h3>List supporting documents</h3>

    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td>View</td>
          <td>Label</td>
          <td>Amount</td>
        </tr>
      </thead>
    </table>

  </section>
  <section>
    <h1>Billing</h1>

    <h2>Customers</h2>

    <h3>Create customer</h3>

    <form>
      <label>Société</label><input type="text"/><br/>
      <label>Contact name</label><input type="text"/><br/>
      <label>Contact email</label><input type="text"/><br/>
      <label>Address</label><input type="text"/><br/>
      <label>Zipcode</label><input type="text"/><br/>
      <label>Town</label><input type="text"/><br/>
      <label>N° Siren</label><input type="text"/><br/>
      <label>N° TVA</label><input type="text"/><br/>
      <input type="submit" value="Create" />
    </form>

    <h3>List customers</h3>

    <table>
      <thead>
        <tr>
          <td>Société</td>
          <td>Contact</td>
          <td>Facturé</td>
          <td>Payé</td>
          <td>Solde</td>
        </tr>
      </thead>
    </table>


    <h2>Bills</h2>

    <h3>Create bill</h3>

    <form>
      <label>Customer</label><select><option>Customer name</option></select><a href="#">New Customer</a><br/>
      <label>Number</label><input type="text" value="0000001"/><br/>
      <label>Date</label><input type="date" value="11/02/2020"/><br/>
      <label>Method</label><select><option>Virement</option></select><br/>
      <label>Term in days</label><input type="number" value="45"/> days<br/>
      <label>Either</label><input type="date" value="11/02/2020"/><br/>

      <table>
        <thead>
          <tr>
            <td>Objet</td>
            <td>Description</td>
            <td>P.U. HT</td>
            <td>Quantity</td>
            <td>TVA</td>
            <td>Total HT</td>
            <td>Actions</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="number" value="1"/></td>
            <td><input type="text" value="Prestation informatique (21/12/2019 au 31/12/2019)"/></td>
            <td><input type="number" value="600.00"/></td>
            <td><input type="number" value="22.00"/></td>
            <td><input type="number" value="1500.00"/></td>
            <td><input type="number" value="6000.00"/></td>
            <td><a href="#">-</a></td>
          </tr>
          <tr>
            <td colspan="7">
              <a href="#">+</a>
            </td>
          </tr>
        </tbody>
      </table>

      <label>Conditions</label>
      <textarea>
        Dans le cas où le paiement intégral n'interviendrait pas à la date prévue par les parties,
        le vendeur se réserve le droit de reprendre la livraison et de dissoudre le contrat.
        En cas de retard de paiement, une pénalité égale à 3 fois le taux intérêt légal sera exigible
        et une indemnité forfaitaire pour frais de recouvrement de 40 euros sera appliquée
      </textarea>
      <br/>
      500 characters max.
      <br/><br/>

      <label>Note</label>
      <textarea></textarea>
      <br/>
      500 characters max.

      <input type="submit" value="Create" />

    </form>

    <h3>List bills</h3>

    <table>
      <thead>
      <tr>
        <td>Numero</td>
        <td>Date</td>
        <td>Customer</td>
        <td>Method</td>
        <td>Amount HT</td>
        <td>Total TTC</td>
        <td>State</td>
      </tr>
      </thead>
    </table>

    <h2>Quotations</h2>

    <h3>List quotations</h3>

    <table>
      <thead>
      <tr>
        <td>Numero</td>
        <td>Date</td>
        <td>Customer</td>
        <td>Method</td>
        <td>Amount HT</td>
        <td>Total TTC</td>
        <td>State</td>
      </tr>
      </thead>
    </table>

  </section>
  <section>
    <h1>Compta</h1>

    <h2>Balance</h2>
    <h2>Grand livre</h2>
    <h2>Journaux</h2>
    <h2>Bilan TVA</h2>


  </section>
</div>
